@model Lab3zadanie.Models.Album
@{
    // Your existing Razor page directives and setup
}
<h1>Album "@Model.Title" Details</h1>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Artist/Band
        </th>
        <th>
            Song List
        </th>
        <th>
            Chart Position
        </th>
        <th>
            Release Year
        </th>
        <th>
            Duration
        </th>
        <th>
            Genre
        </th>
    </tr>

    <tr>
        <td>
            @Model.Title
        </td>
        <td>
            @Model.Artist
        </td>
        <td>
            <a asp-controller="Songs" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-secondary">List</a>
        </td>
        <td>
            @Model.ChartPosition
        </td>
        <td>
            @Model.ReleaseYear
        </td>
        <td>
            @Model.Duration
        </td>
        <td>
            @Model.Genre
        </td>
    </tr>

</table>
<a class="btn btn-primary" asp-action="Index">Back</a>
