@model List<Lab3zadanie.Models.SongList>

@{
    Layout = "_Layout";
    var albumId = ViewBag.AlbumId;
    var albumTitle = ViewBag.AlbumTitle as string; // Pobranie nazwy albumu
}

<h2>Song List for Album: "@albumTitle"</h2>

<!-- Przycisk do dodawania piosenek -->
<a asp-controller="Songs" asp-action="Create" asp-route-albumId="@albumId" class="btn btn-primary">Add Song</a>

@if (Model.Count > 0)
{
    <!-- Lista piosenek -->
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Model)
            {
                <tr>
                    <td>@song.Title</td>
                    <td>@song.Duration</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <!-- Wyświetlenie napisu "Empty", gdy lista piosenek jest pusta -->
    <p>Empty</p>
}

<!-- Przycisk "Back" do widoku szczegółów albumu -->
<a class="btn btn-primary" asp-controller="Album" asp-action="Details" asp-route-id="@albumId">Back</a>
