@model Album

<h2>Szczegóły Albumu</h2>

<div>
    <table class="table">
        <tr>
            <th>Nazwa</th>
            <th>Zespół</th>
            <th>Spis Piosenek</th>
            <th>Notowanie</th>
            <th>Data Wydania</th>
            <th>Czas Trwania</th>
        </tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Band</td>
            <td>
                <ul>
                @foreach (var song in Model.SongList)
                {
                    <li>@song.Key - @song.Value</li>
                }
                </ul>
            </td>
            <td>@Model.ChartRanking</td>
            <td>@Model.ReleaseDate.ToString("d")</td> 
            <td>@Model.Duration</td>
        </tr>
    </table>
</div>

<a asp-action="Index" class="btn btn-primary">Powrót do listy</a>
