@model Dictionary<int, Album>

<h2>Lista Albumów</h2>

<a asp-controller="Album" asp-action="Create" class="btn btn-success">Dodaj Album</a>

<table class="table">
    <tr>
        <th>Nazwa</th>
        <th>Zespół</th>
        <th>Data Wydania</th>
        <th>Akcje</th>
    </tr>
    @foreach (var pair in Model)
    {
        <tr>
            <td>@pair.Value.Name</td>
            <td>@pair.Value.Band</td>
            <td>@pair.Value.ReleaseDate.ToShortDateString()</td>
            <td>
                <a asp-action="Edit" asp-route-id="@pair.Key" class="btn btn-primary">Edytuj</a>
                <a asp-action="Details" asp-route-id="@pair.Key" class="btn btn-info">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@pair.Key" class="btn btn-danger">Usuń</a>
            </td>
        </tr>
    }
</table>