@{
    ViewData["Title"] = "Calculator";
}

<h2>Calculator</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

@if (ViewBag.Result != null)
{
    <p>Wynik działania dla @ViewBag.A @ViewBag.Operator @ViewBag.B = @ViewBag.Result</p>
}

<form method="get" action="/Home/Calculator">
    <label for="a">A:</label>
    <input type="text" id="a" name="a" />

    <label for="op">Operator:</label>
    <input type="text" id="op" name="op" />

    <label for="b">B:</label>
    <input type="text" id="b" name="b" />

    <button type="submit">Oblicz</button>
</form>
